.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    border: 1px solid black;
    border-radius: 25px;
    padding: 1cm;
    background-color: aliceblue;
    width: 15cm ;
}

.container {
    margin-top: 0.5cm;
    /* height: 120vh; */
    display: flex;
}

/* body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
} */

.header {
    padding-top: 0.5cm;
    height: 140px;
    background-color: #003D7C;
    color: white;
    text-align: center;
}

#section-one {
    width: 50%;
    /* height: 100%; */
    /* margin-bottom: 0.5cm; */
    /* background-image: url(/images/indexPage.jpg) no-repeat center center fixed */
    /* background-color: green; */
    padding-left: 1cm;
    padding-right: 1cm;
    padding-top: 0.3cm;
    padding-bottom: 0.5cm;
    margin-bottom: 0.5cm;
}

#section-two {
    width: 50%;
    /* height: 100%; */
    /* border: 1px solid black; */
    /* background-color: pink; */
    padding-left: 1cm;
    padding-right: 1cm;
    /* padding-top: 0.3cm; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 0.5cm;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


